

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GCSCX</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <style type="text/css">
        td{
            text-align:center;
        }
    </style>
</head>
<body>
    <div>
        <table class="easyui-datagrid" style="width:100%;min-height:400px;" pagination="true" data-options="dataType:'json',
               url:'/Data/AllEmployees'
               ">
            <thead>
                <tr>
                    <th field="Name" width="120">姓名</th>
                    <th field="Gender" width="60">性别</th>
                    <th field="Level" width="160">证书类别</th>
                    <th field="CertificateNumber" width="240">证书编号</th>
                    <th field="t" width="60"
                        data-options="formatter:function(value,row){
                            if(row.CompanyName == null)
                                return '否';
                            else return '是';
                        }">是否注册</th>
                    <th field="CompanyName" width="360">注册公司</th>
                </tr>
            </thead>

        </table> 
    </div>
</body>
</html>
