<script type="text/javascript">
    $(document).ready(function () {
        $('#login').click(function () {
            var usr = document.getElementById("username").value;
            var pwd = document.getElementById("password").value;
            if (usr == pwd) {
                if (usr == "test1")
                    window.open("/Admin/Index_XFJG");
                else if (usr == "test2")
                    window.open("/Admin/Index_FWJG");
            }
            else
                alert("用户名或密码错误！");
        });
    });
</script>


<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-2" style="padding-right:0px;">
        <div class="border" style="padding-bottom:18px;">
            <h4 class="title">查询服务</h4>
            <div>
                <div class="input-group" style="margin-bottom:6px;">
                    <input type="text" class="form-control input-sm" placeholder="请输入报告查询明码" />
                    <span class="input-group-addon btn " style="background-color:#0690FA;color:#fff;">
                        <span class="glyphicon glyphicon-search"></span>
                        搜索
                    </span>
                </div>
                <p>
                    <a class="btn btn-info btn-default  form-control" href="/Home/JGCX">技术服务机构查询</a>

                </p>
                <p>
                    <a  class="btn btn-info btn-default form-control" href="/Home/XMCX">技术服务项目查询</a>

                </p>
                    <a  class="btn btn-info btn-default form-control" href="/Home/GCSCX">注册消防工程师查询</a>

            </div>
        </div>
        <div class="border" style="padding-bottom:29px">
            <h4 class="title">系统登录</h4>
            <form action="/Admin/Login" method="post">
                <div class="form-group">
                    <input class="form-control" name="Name" id="username" placeholder="用户名">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="Password" id="password" placeholder="密　码">
                </div>

                <div class="form-group">
                    <input type="radio" name="InstitutionType" value=0 checked="checked" />消防机构
                    <input type="radio" name="InstitutionType" value=1 />服务机构
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-right:0px;">
        <div class="border">
            <h4 class="title">通知公告</h4>
            <div class="list">
                <ul>
                    <li>
                        <a title="注册消防工程师管理规定" href=" ~/Content/注册消防工程师管理规定.pdf" target="_blank">

                            注册消防工程师管理规定
                        </a>
                    </li>

                    <li>
                        <a title="关于继续实行消防技术服务机构临时资质管理的通知" href="HomePageNoticeDetail.htm?id=136E3F7D21DF426FA1B08EFAFA9EC68D&amp;type=1" target="_blank" se_prerender_url="complete">

                            关于继续实行消防技术服务机构临时资质管理的通知
                        </a>
                    </li>

                    <li>
                        <a title="关于公布取得消防技术服务机构临时一级检测维保资质单位名单的通知" href="HomePageNoticeDetail.htm?id=7D557DBA11AA4703977B049780321E95&amp;type=1" target="_blank" se_prerender_url="complete">
                            关于公布取得消防技术服务机构临时一级检测维保资质单位名...

                        </a>
                    </li>

                    <li>
                        <a title="关于公布第二批取得消防技术服务机构临时资质单位名单的通知" href="HomePageNoticeDetail.htm?id=4C82EC330B8842878E081C607AD8EE67&amp;type=1" target="_blank" se_prerender_url="complete">

                            关于公布第二批取得消防技术服务机构临时资质单位名单的通...
                        </a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border">
            <h4 class="title">相关法规</h4>
            <div class="list">
                <ul>
                    <li>
                        <a title="注册消防工程师资格考试实施办法" href="#" target="_blank" se_prerender_url="loading">

                            注册消防工程师资格考试实施办法

                        </a>
                    </li>

                    <li>
                        <a title="注册消防工程师资格考试实施办法" href="#" target="_blank">

                            注册消防工程师资格考试实施办法

                        </a>
                    </li>

                    <li>
                        <a title="（已废止）社会消防技术服务管理规定（公安部令第129号）" href="HomePageNoticeDetail.htm?id=FE8FE575C8614D4D8D327C14C45641FB&amp;type=3" target="_blank">

                            （已废止）社会消防技术服务管理规定（公安部令第129号）

                        </a>
                    </li>
                    <li>
                        <a title="社会消防技术服务管理规定（公安部令第129号，2016年1月14日公安部令第136号修订）" href="HomePageNoticeDetail.htm?id=71F4E7D784F54397AF7A3FDAB80A998D&amp;type=3" target="_blank">
                            社会消防技术服务管理规定（公安部令第129号，2016年1月...
                        </a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-5 col-sm-5">
        <div class="border">
            <h4 class="title">技术标准</h4>
            <div class="list">
                <ul>

                    <li>
                        <a title="建筑消防设施检测技术规程（GA503-2004）" href="HomePageNoticeDetail.htm?id=28C79182D204486C85B4A72F89BC5741&amp;type=4" target="_blank">


                            建筑消防设施检测技术规程（GA503-2004）
                        </a>
                    </li>

                    <li>
                        <a title="建筑消防设施的维护管理（GB25201-2010）" href="HomePageNoticeDetail.htm?id=17FA8D6C4E654546A8C02565AE74D5E0&amp;type=4" target="_blank">


                            建筑消防设施的维护管理（GB25201-2010）
                        </a>
                    </li>

                    <li>
                        <a title="消防技术服务机构设备配备（GA1157-2014）" href="HomePageNoticeDetail.htm?id=60BB6E5CF9264F19BB685EE77DE6DC92&amp;type=4" target="_blank" se_prerender_url="complete">


                            消防技术服务机构设备配备（GA1157...
                        </a>
                    </li>

                    <li>
                        <a title="（已废止）水喷雾灭火系统设计规范（GB50219－95）" href="HomePageNoticeDetail.htm?id=4A97579E47AD46FCB2761F5516AFFC15&amp;type=4" target="_blank" se_prerender_url="complete">


                            （已废止）水喷雾灭火系统设计规范...
                        </a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border">
            <h4 class="title">办事指南</h4>
            <div class="list">
                <ul>
                    <li>
                        <span style="font-family:宋体;float: left; "></span> <a title="消防设施维护保养检测临时一级资质申请条件及材料要求" href="HomePageNoticeDetail.htm?id=E240F421D56D46E3BBF174B552A85105&amp;type=2" target="_blank" se_prerender_url="complete">


                            消防设施维护保养检测临时一级资质申请条...

                        </a>
                    </li>

                    <li>
                        <span style="font-family:宋体;float: left; "></span> <a title="消防设施维护保养检测临时二级资质申请条件及材料要求" href="HomePageNoticeDetail.htm?id=DB82DF02C64843238A7A164B4E775C1B&amp;type=2" target="_blank" se_prerender_url="complete">


                            消防设施维护保养检测临时二级资质申请条...

                        </a>
                    </li>

                    <li>
                        <span style="font-family:宋体;float: left; "></span> <a title="消防设施维护保养检测临时三级资质申请条件及材料要求" href="HomePageNoticeDetail.htm?id=07EAF8E19EEA4B05AB9E27301C14CA6A&amp;type=2" target="_blank">


                            消防设施维护保养检测临时三级资质申请条...

                        </a>
                    </li>

                    <li>
                        <a title="“消防工程相关专业”新旧对照表" href="HomePageNoticeDetail.htm?id=E23807F92F3C48B1A40905780027092A&amp;type=2" target="_blank">


                            “消防工程相关专业”新旧对照表

                        </a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
