

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JGCX</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

    <script>
        $(function () {
            $('#dg').datagrid({
                height: 'auto',
                singleSelect: true,
                pagination: true,
                pageSize:20,
                pageList: [10, 20, 30, 50, 100, 200],
                url: '/Data/getCompanies',
                method: 'get',
                loadFilter: loadFilter
            });
        });
        function doSearch() {
            $('#dg').datagrid('load', {
                QualificationType: $('#qt').val(),
                QualificationLevel: $('#ql').val(),
                Name: $('#name').val()
            });
        }
        function doReset() {
            $('#qt').combobox('setValue', '-1');
            $('#ql').combobox('setValue', '-1');
            $('#name').textbox('setValue', '');
            doSearch();
        }

    </script>

    <style>
        .star {
            width: 24px;
            height: 20px;
            background: url(../../Content/img/star.png);
            float: left;
        }

            .star.checked {
                background: url(../../Content/img/star.png) 0 -20px !important;
            }

        .star_bg {
            width: 120px;
            height: 20px;
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>

    <script>
        var l0 = "<div class='star_bg'><div class='star star_1'></div><div class='star star_2'></div><div class='star star_3'></div><div class='star star_4'></div><div class='star star_5'></div></div>";
        var l1 = "<div class='star_bg'><div class='star checked star_1'></div><div class='star star_2'></div><div class='star star_3'></div><div class='star star_4'></div><div class='star star_5'></div></div>";
        var l2 = "<div class='star_bg'><div class='star checked star_1'></div><div class='star checked star_2'></div><div class='star star_3'></div><div class='star star_4'></div><div class='star star_5'></div></div>";
        var l3 = "<div class='star_bg'><div class='star checked star_1'></div><div class='star checked star_2'></div><div class='star checked star_3'></div><div class='star star_4'></div><div class='star star_5'></div></div>";
        var l4 = "<div class='star_bg'><div class='star checked star_1'></div><div class='star checked star_2'></div><div class='star checked star_3'></div><div checked class='star checked star_4'></div><div class='star star_5'></div></div>";
        var l5 = "<div class='star_bg'><div class='star checked star_1'></div><div class='star checked star_2'></div><div class='star checked star_3'></div><div class='star checked star_4'></div><div class='star checked star_5'></div></div>";
    </script>
</head>
<body style=" margin:0px;font-size:10px;">

    <ol class="breadcrumb">
        <li>当前位置：</li>
        <li><span class="glyphicon glyphicon-home"></span>  @Html.ActionLink("首页", "Index", "Home")</li>
        <li class="active">机构查询</li>
    </ol>

    <p style="margin-left:10px;">
        资质类型:
        <select class="easyui-combobox" id="qt" style="width:102px;"
                data-options="panelHeight:'auto'" editable="false">
            <option value="-1">全部</option>
            <option value="0">维修保养检测</option>
            <option value="1">消防安全评估</option>
        </select>
        资质等级:
        <select class="easyui-combobox" id="ql" style="width:102px;"
                data-options="panelHeight:'102px'" editable="false">
            <option value="-1">全部</option>
            <option value="0">一级</option>
            <option value="1">二级</option>
            <option value="2">三级</option>
            <option value="3">临时一级</option>
            <option value="4">临时二级</option>
            <option value="5">临时三级</option>
        </select>
        机构名称:
        <input class="easyui-textbox" style="width:120px" />
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doReset()">重置查询</a>
        </p>
        <table class="easyui-datagrid" id="dg">
            <thead>
                <tr>
                    <th field="Name" width="300px">机构名称</th>
                    <th field="Type" width="160px">资质类别</th>
                    <th field="Level" width="80px">资质等级</th>
                    <th field="Number" width="160px">证书编号</th>
                    <th field="State" width="120px">证书状态</th>
                    <th field="Score" width="80px" data-options="formatter:function(value){return value+'分'}">服务评分</th>
                    <th field="t" width="180px" data-options="formatter:function(value,row){
                    if(row.Score>=90)
                        return l5;
                    else if(row.Score>=75)
                        return l4;
                    else if(row.Score>=60)
                        return l3;
                    else if(row.Score>=40)
                        return l2;
                    else if(row.Score>=20)
                        return l1;
                    else
                        return l0;
                    }">服务等级</th>

                </tr>
            </thead>

        </table>

</body>
</html>
