
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div> 
        <form action="/Home/test" enctype="multipart/form-data" method="post">
            <input type="file" name="qqq" />
            <input type="submit" name="Submit" value="上传" />
        </form>
    </div>
</body>
</html>
