
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company</title>
</head>
<body>
    <div>
        服务机构首页
    </div>
</body>
</html>
