@{
    Layout = null;
}

@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>甘肃省社会消防服务信息管理系统 - @ViewBag.OrgName</title>
    <link href="~/Content/User/index.css" rel="stylesheet" />
    <script src="~/Content/User/index.js"></script>
    <script>
        function openindex() {
            window.open("/");
        }
    </script>
</head>
<body class="easyui-layout">
    <div id="north" region="north" split="true">
        <div class="top-bg">
            <span style="float:right; padding-right:10px;padding-top:64px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-house'" onclick="openindex()">
                    网站首页
                </a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-user'" >
                    欢迎您， @ViewBag.User.Name
                </a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-door_out'" onclick="logout()">
                    安全退出
                </a>
            </span>
        </div>
    </div>

    <div id="south" region="south" split="true">
        <div class="footer">版权所有:甘肃省消防总队</div>
    </div>

    <div id="west" region="west" split="true" title="菜单">
        <div class="easyui-accordion" style="position:absolute;top:27px;left:0px;right:0px;bottom:0px;">
            <ul id="menu" class="easyui-tree">
                @{ Html.RenderAction("Menu");}
            </ul>
        </div>
    </div>


    <div id="center" region="center" split="true">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">

        </div>
    </div>
</body>
</html>
