
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页 - @ViewBag.Title</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
</head>
<body>
    <table class="easyui-datagrid" pagination="true" title="当前项目" data-options="dataType:'json',
                       url:'/Data/MyProjects'
                       ">
        <thead>
            <tr>
                <th field="Name" width="300px">项目名称</th>
                <th field="Progress" width="80px">当前状态</th>
                <th field="t4" width="160px">项目进度</th>
            </tr>
        </thead>

    </table>
</body>
</html>
