
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>机构备案</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

    <script>
        var resp;
        $(document).ready(function () {

            $("#next-page").click(function () {
                $('#tabs').tabs('select', "人员信息");
            });
            $("#front-page").click(function () {
                $('#tabs').tabs('select', "机构信息");
            });
            $('#addAddress').click(function () {
                $("#flag").before('<tr class="newaddress"><td>办公场所地址：</td><td colspan="3"><input class="easyui-textbox address" style="width:100%" required="true"></td><td>建筑面积：</td><td><input class="easyui-numberbox easyui-validatebox area" precision="2" max="99999.99" size="8" maxlength="8" required="true">m2</td><td><a class="removeAddress" href="#" onclick="$(this).parent().parent().remove();">删除</a></td></tr>');
                $.parser.parse('.newaddress');
            });

            $('#addzizhi').click(function () {
                if ($('#zizhi').length >0) {
                    return;
                }
                $("#flag1").before('<tr id="zizhi"><td style="text-align:right">资质类别：</td><td><select name="Type2" class="easyui-combobox" editable="false" panelHeight="auto"><option value="0">维修保养检测</option><option value="1">消防安全评估</option></select></td><td style="text-align:right">资质等级：</td><td><select name="Level2" class="easyui-combobox" editable="false" panelHeight="auto"><option value="0">一级</option><option value="1">二级</option><option value="2">三级</option><option value="3">临时一级</option><option value="4">临时二级</option><option value="5">临时三级</option></select></td><td style="text-align:right">证书编号：</td><td><input name="Number2" class="easyui-textbox easyui-validatebox" required="true" ></td><td style="text-align:right;">证书有效日期：</td><td><input name="ExpiryDate2" class="easyui-datebox" editable="false" required="true" style="width:96px"></td><td><a href="#" onclick="$(this).parent().parent().remove();">删除</a></td></tr>');
                $.parser.parse('#zizhi'); 
            });


            var editIndex = undefined;

            //添加人员信息到表中
            $("#BtnAddEmployee").click(function () {
                $("#employeeTable").datagrid('appendRow', {
                    Name:$("#Name").val(),
                    Gender:$("#Gender").val(),
                    Level: $("#Level").val(),
                    CertificateNumber: $("#CertificateNumber").val(),
                    IdentificationNumber: $("#IdentificationNumber").val(),
                    IsDirector: $("#IsDirector").val(),
                    OfficePhone: $("#OfficePhone").val(),
                    MobilePhone:$("MobilePhone").val()
                });
            });

            var name = "";
            var password = "";
            //提交机构备案信息
            $("#Submit").click(function () {
                
                var data = $('#dg').datagrid('getData');
                if (data.total == 0) {
                    $.messager.alert('提示', '人员信息不能为空', 'info');
                    return;
                }
                if (endEditing() == false) {
                    $.messager.alert('提示', '请先保存表单','info');
                    return;
                }
                if (!$('#form').form('validate')) {
                    $.messager.alert('提示', '机构信息存在无效字段，请检查', 'info');
                    return;
                }

                submitemployee();
                if (resp.Code != 1) {
                    $.messager.alert('提示', '出现错误：'+resp.Message, 'info', function () {
                        window.location.reload();
                    });
                    return;
                }
                submitaddress();
                if (resp.Code != 1) {
                    $.messager.alert('提示', '出现错误：' + resp.Message, 'info', function () {
                        window.location.reload();
                    });
                    return;
                }
                submitcompany();
                $.messager.alert('提示', '机构备案成功!<br/><br/><p>账号：<span style="color:#E53333;font-size:18px;">' + name + '</p><p></span>   密码：<span style="color:#E53333;font-size:18px;">' + password + '</span></p>', 'info', function () {
                    window.location.reload();
                });
                
            });

            function submitemployee() {
                var _employeelist = {};
                var rows = $('#dg').datagrid('getRows');
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    _employeelist["list[" + i + "].Name"] = rows[i].Name;
                    _employeelist["list[" + i + "].Gender"] = rows[i].Gender == "" ? 0 : rows[i].Gender;
                    _employeelist["list[" + i + "].Level"] = rows[i].Level == "" ? 0 : rows[i].Level;
                    _employeelist["list[" + i + "].CertificateNumber"] = rows[i].CertificateNumber;
                    _employeelist["list[" + i + "].IdentificationNumber"] = rows[i].IdentificationNumber.toUpperCase();
                    _employeelist["list[" + i + "].MobilePhone"] = rows[i].MobilePhone;
                }
                $.ajax({
                    async: false,
                    url: '/Data/addEmployees',
                    data: _employeelist,
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        resp = data;
                    }
                });
            }

            function submitaddress() {
                var _addresslist = {};
                var addressrows = $(".address").length;
                for (var i = 0; i < addressrows; i++) {
                    _addresslist["list[" + i + "].Name"] = $(".address")[i].value;
                    _addresslist["list[" + i + "].Area"] = $(".area")[i].value;
                }
                $.ajax({
                    async: false,
                    url: '/Data/addOfficeAddress',
                    data: _addresslist,
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        resp = data;
                    }
                });
            }

            function submitcompany() {

                var _company = $("#form").serialize();
                $.ajax({
                    async: false,
                    url: '/Data/addCompany',
                    data: _company,
                    dataType: "json",
                    type: "POST",
                    success: function (resp) {
                        name = resp.Data.Name;
                        password = resp.Data.Password;
                    }
                });
            }

            //初始化人员信息表
            $('#dg').datagrid({
                width: '100%',
                height: '308px',
                rownumbers: true,
                singleSelect: true,
                columns: [[
                    {
                        field: 'Name',
                        title: '姓名',
                        width: 120,
                        editor: {
                            type: 'textbox',
                            options: {
                                required: true
                            }
                        }
                    },
                    {
                        field: 'Gender',
                        title: '性别',
                        width:60,
                        formatter:function(value){
                            if(value == 0 || value == '男')
                                return '男';
                            else if(value == 1 || value=='女')
                                return '女';
                            else return '未知';
                        },
                        editor:{type:'combobox',
                            options:{
                                valueField:'Id',
                                textField:'Text',
                                method:'get',
                                url:'/Data/getGenderList',
                                required:true,
                                editable:false,
                                panelHeight:'auto'
                            }
                        }
                    },
                    {
                        field: 'Level',
                        title: '人员类别',
                        width:160,
                        formatter:function(value){
                            if (value == 0 || value == '临时注册消防工程师')
                                return '临时注册消防工程师';
                            else if(value == 1 ||value=='一级注册消防工程师')
                                return '一级注册消防工程师';
                            else if(value == 2 || value=='二级注册消防工程师')
                                return '二级注册消防工程师';
                            else if(value == 3)
                                return '建(构)筑物消防员(初级)';
                            else if(value == 4)
                                return '建(构)筑物消防员(中级)';
                            else if (value == 5)
                                return '建(构)筑物消防员(高级)';
                        },
                        editor:{type:'combobox',
                            options: {
                                value:0,
                                valueField:'Id',
                                textField:'Text',
                                method:'get',
                                url:'/Data/getEmployeeLevelList',
                                required:true,
                                editable:false,
                                panelHeight:'auto'
                            }
                        }
                    },
                    {
                        field: 'CertificateNumber',
                        title: '证书编号',
                        width: 100,
                        editor: {
                            type: 'textbox',
                            options: {
                                required: true
                            }
                        }
                    },
                    {
                        field: 'IdentificationNumber',
                        title: '身份证号',
                        width: 160,
                        editor: {
                            type: 'textbox',
                            options: {
                                required: true
                            }
                        }
                    },
                    {
                        field: 'MobilePhone',
                        title: '手机号码',
                        width: 120,
                        editor: {
                            type: 'textbox'
                        }
                    }
                ]],
                rownumbers: true,
                singleSelect: true,
                onClickRow: onClickRow
            });

            $('#win').window({
                title:'导入人员',
                width: '80%',
                height: 431,
                modal: true,
                shadow: true,
                closed: true,
                footer: '#footer'
            });
            $('#windg').datagrid({
                width:'100%',
                height: '308px',
                rownumbers: true,
                singleSelect: true,
                pagination: true,
                pageList: [10, 20, 30, 50, 100, 200],
                url: '/Data/getEmployees',
                method: 'get',
                loadFilter: loadFilter,
            });

        });
    </script>
    <script type="text/javascript">
        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true; }
            if ($('#dg').datagrid('validateRow', editIndex)) {
                $('#dg').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickRow(index) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#dg').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    editIndex = index;
                } else {
                    $('#dg').datagrid('selectRow', editIndex);
                }
            }
        }
        function append() {
            if (endEditing()) {
                $('#dg').datagrid('appendRow', { IsDirector: '是' });
                editIndex = $('#dg').datagrid('getRows').length - 1;
                $('#dg').datagrid('selectRow', editIndex)
                        .datagrid('beginEdit', editIndex);
            }
        }
        function removeit() {
            if (editIndex == undefined) { return }
            $('#dg').datagrid('cancelEdit', editIndex)
                    .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept() {
            if (endEditing()) {
                $('#dg').datagrid('acceptChanges');
            }
        }
        function reject() {
            $('#dg').datagrid('rejectChanges');
            editIndex = undefined;
        }

        function importbtn() {
            if (endEditing() == false) {
                $.messager.alert('提示', '请先保存正在编辑的内容', 'info');
                return;
            }
            $('#win').window('open');
        }

        function importing() {
            var row = $('#windg').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('提示', '请先选中行', 'info');
                return;
            }
            if (row.CompanyName != '无') {
                $.messager.alert('提示', '此人员已在其他公司注册，导入失败', 'info');
                return;
            }
            var rows = $('#dg').datagrid('getData').rows;
            for (var i = 0; i < rows.length; i++) {
                if (rows[i].IdentificationNumber == row.IdentificationNumber) {
                    $.messager.alert('提示', '此人员已经添加', 'info');
                    return;
                }
            }

            $('#dg').datagrid('appendRow', row);

        }

        function doSearch() {
            $('#windg').datagrid('load', {
                Level: $('#level').val(),
                CertificateNumber: $('#cn').val(),
                IdentificationNumber: $('#idn').val(),
                Name: $('#name').val()
            });
        }
        function doReset() {
            $('#level').combobox('setValue', '-1');
            $('#cn').textbox('setValue', '');
            $('#idn').textbox('setValue', '');
            $('#name').textbox('setValue', '');
            doSearch();
        }
    </script>
    <style>
        #jgxx tr{
           height:32px;
        }
        
    </style>
</head>
<body style="margin:0px;">
    <div class="easyui-tabs" border="false" id="tabs" style="width:100%">
        <div title="机构信息" style="padding:10px">
            <form id="form" method="post">
                <table id="jgxx">
                    <tr>
                        <td style="text-align:right">机构名称：</td>
                        <td colspan="3">
                            <input name="Name" class="easyui-textbox" required="true" style="width:100%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">资质类别：</td>
                        <td>
                            <select name="Type1" class="easyui-combobox" editable="false" panelHeight="auto">
                                <option value="0">维修保养检测</option>
                                <option value="1">消防安全评估</option>
                            </select>
                        </td>
                        <td style="text-align:right">资质等级：</td>
                        <td>
                            <select name="Level1" class="easyui-combobox" panelHeight="auto" editable="false">
                                <option value="0">一级</option>
                                <option value="1">二级</option>
                                <option value="2">三级</option>
                                <option value="3">临时一级</option>
                                <option value="4">临时二级</option>
                                <option value="5">临时三级</option>
                            </select>
                        </td>
                        <td style="text-align:right">证书编号：</td>
                        <td>
                            <input name="Number1" class="easyui-textbox" required="true" >
                        </td>
                        <td style="text-align:right;">证书有效日期：</td>
                        <td>
                            <input name="ExpiryDate1" class="easyui-datebox" editable="false" required="true" style="width:96px">
                        </td>
                        <td><a id="addzizhi" href="#">新增</a></td>
                    </tr>
                    <tr id="flag1">
                        <td style="text-align:right">办公场所地址：</td>
                        <td colspan="3"><input class="easyui-textbox address" style="width:100%" required="true"></td>
                        <td style="text-align:right">建筑面积：</td>
                        <td><input class="easyui-numberbox easyui-validatebox area" precision="2" max="9999999.99" size="8" maxlength="8" required="true">m2</td>
                        <td><a id="addAddress" href="#">新增</a></td>
                    </tr>

                    <tr id="flag">
                        <td style="text-align:right">注册资金：</td>
                        <td><input name="Fund" class="easyui-numberbox" precision="2" max="99999.99" size="8" maxlength="8" required="true">万元</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">法定代表人：</td>
                        <td><input name="Delegate" class="easyui-textbox" ></td>
                        <td style="text-align:right">办公电话：</td>
                        <td><input name="DelegateOfficePhone" class="easyui-textbox"></td>
                        <td style="text-align:right">手机号码：</td>
                        <td><input name="DelegateMobilePhone" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">联系人：</td>
                        <td><input name="Contact" class="easyui-textbox"></td>
                        <td style="text-align:right">办公电话：</td>
                        <td><input name="ContactOfficePhone" class="easyui-textbox"></td>
                        <td style="text-align:right">手机号码：</td>
                        <td><input name="ContactMobilePhone" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">传真：</td>
                        <td><input name="fax" class="easyui-textbox"></td>
                        <td style="text-align:right">邮政编码：</td>
                        <td><input name="Postcode" class="easyui-textbox"></td>
                        <td style="text-align:right">电子邮件：</td>
                        <td><input name="Email" class="easyui-textbox easyui-validatebox" validType="email"></td>
                    </tr>
                </table>
            </form>
            <br />
            <br />
            <div style="width:100px;margin:0 auto; height:50px; text-align:center;">
                <a href="#" class="easyui-linkbutton" id="next-page">下一页</a>
            </div>
            <div style="color:red">
                提示：<br />
                1.机构备案申请提交以后可以修改人员信息，其他信息请到消防总队申请修改。<br />
                2.请尽快开通机构备案申请，申请通过后才能对项目进行登记。
            </div>
        </div>


        <div title="人员信息" >
            <div id="tb" style="height:auto">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>|
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>|
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>|
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">撤销</a>|
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-user',plain:true" onclick="importbtn()">导入</a>
            </div>
            <table id="dg"></table>

            <div id="win">
                <p style="margin-left:10px;">
                    证书类别:
                    <select name="Level" id="level" class="easyui-combobox" style="width:140px;"
                            data-options="panelHeight:'auto'" editable="false">
                        <option value="-1">全部</option>
                        <option value="0">临时注册消防工程师</option>
                        <option value="1">一级注册消防工程师</option>
                        <option value="2">二级注册消防工程师</option>
                    </select>
                    证书编号:
                    <input name="CertificateNumber" id="cn" class="easyui-textbox" style="width:160px" />
                    身份证号：
                    <input name="IdentificationNumber" id="idn" class="easyui-textbox" style="width:140px" />
                    姓名：
                    <input name="Name" id="name" class="easyui-textbox" style="width:60px" />
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doReset()">重置</a>
                </p>
                <div>
                    <table id="windg">
                        <thead>
                            <tr>
                                <th field="Name" width="80">姓名</th>
                                <th field="Gender" width="40">性别</th>
                                <th field="Level" width="130">证书类别</th>
                                <th field="CertificateNumber" width="240">证书编号</th>
                                <th field="IdentificationNumber" width="160px">身份证号</th>
                                <th field="CompanyName" width="200">注册公司</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="footer" style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-save" onclick="importing()">导入</a>
            </div>
            <div style="margin:0 auto;width:200px;">
                <a href="#" class="easyui-linkbutton" id="front-page">上一页</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-save" id="Submit">提交</a>
            </div>
        </div>
    </div>
</body>
</html>
