
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XMCX</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <style>
        td {
            text-align: center;
        }
    </style>
    <script>
        $(function () {
            $('#companydg').datagrid({
                width:'100%',
                height: 'auto',
                singleSelect: true,
                pagination: true,
                pageSize:20,
                pageList: [20, 30, 50, 100, 200],
                url: '/Data/getCompanies',
                method: 'get',
                loadFilter: loadFilter,
                onDblClickRow: function (index, row) {
                    $('#iframe').attr('src', '/User/JGXQ/?companyID=' + row.ID);
                    $('#win').window('open');

                }
            });

            $('#win').window({
                title: '机构详情',
                width: '90%',
                height: '400px',
                modal: true,
                closed: true,
            });
        });

        function doSearch() {
            $('#companydg').datagrid('load', {
                QualificationType: $('#qt').val(),
                QualificationLevel: $('#ql').val(),
                Name: $('#name').val()
            });
        }
        function doReset() {
            $('#qt').combobox('setValue', '-1');
            $('#ql').combobox('setValue', '-1');
            $('#name').textbox('setValue', '');
            doSearch();
        }

    </script>
    <link href="~/Content/User/ipage.css" rel="stylesheet" />
</head>
<body>
    <p style="margin-left:10px;">
        资质类型:
        <select name="QualificationType" id="qt" class="easyui-combobox" style="width:102px;"
                data-options="panelHeight:'auto'" editable="false">
            <option value="-1">全部</option>
            <option value="0">维修保养检测</option>
            <option value="1">消防安全评估</option>
        </select>
        资质等级:
        <select name="QualificationLevel" id="ql" class="easyui-combobox" style="width:102px;"
                data-options="panelHeight:'auto'" editable="false">
            <option value="-1">全部</option>
            <option value="0">一级</option>
            <option value="1">二级</option>
            <option value="2">三级</option>
            <option value="3">临时一级</option>
            <option value="4">临时二级</option>
            <option value="5">临时三级</option>
        </select>
        机构名称:
        <input name="Name" id="name" class="easyui-textbox" style="width:240px" />
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doReset()">重置查询</a>
    </p>
    <table id="companydg">
        <thead>
            <tr>
                <th field="Name" width="300px">机构名称</th>
                <th field="Type" width="160px">资质类别</th>
                <th field="Level" width="160px">资质等级</th>
                <th field="Number" width="320px">证书编号</th>
                <th field="State" width="120px">证书状态</th>
            </tr>
        </thead>

    </table>
    <div id="win">

        <iframe id="iframe" style="width:100%;height:100%"></iframe>
    </div>
</body>
</html>
