
@{
    Layout = null;
}

@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JGXQ</title>
    <script>
        $(function(){
            $('#companyform').form('load','/Data/getCompany/?companyID='+@ViewBag.companyID);
        });
        function setcompany(){

            var data = $('#companyform').serialize();
            $.ajax({
                async:false,
                url:'/Data/setCompany',
                data:data,
                type:'POST',
                success:function(){
                    $.messager.alert('提示','机构信息修改成功！','info');
                }
            });
        }


    </script>

</head>
<body>
    <form id="companyform">
        <input name="ID" style="display:none" id="id" />
        <table id="jgxx">
            <tr>
                <td style="text-align:right">机构名称：</td>
                <td colspan="3">
                    <input name="Name" class="easyui-textbox" required="true" style="width:100%;" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">资质类别：</td>
                <td>
                    <select name="Type1" class="easyui-combobox" editable="false" panelHeight="auto">
                        <option value="0">维修保养检测</option>
                        <option value="1">消防安全评估</option>
                    </select>
                </td>
                <td style="text-align:right">资质等级：</td>
                <td>
                    <select name="Level1" class="easyui-combobox" panelHeight="auto" editable="false">
                        <option value="0">一级</option>
                        <option value="1">二级</option>
                        <option value="2">三级</option>
                        <option value="3">临时一级</option>
                        <option value="4">临时二级</option>
                        <option value="5">临时三级</option>
                    </select>
                </td>
                <td style="text-align:right">证书编号：</td>
                <td>
                    <input name="Number1" class="easyui-textbox" required="true">
                </td>
                <td style="text-align:right;">证书有效日期：</td>
                <td>
                    <input name="ExpiryDate1" class="easyui-datebox" editable="false" required="true" style="width:96px">
                </td>
                
            </tr>
            <tr>
                <td style="text-align:right">资质类别：</td>
                <td>
                    <select name="Type2" class="easyui-combobox" editable="false" panelHeight="auto">
                        <option value="0">维修保养检测</option>
                        <option value="1">消防安全评估</option>
                    </select>
                </td>
                <td style="text-align:right">资质等级：</td>
                <td>
                    <select name="Level2" class="easyui-combobox" panelHeight="auto" editable="false">
                        <option value="0">一级</option>
                        <option value="1">二级</option>
                        <option value="2">三级</option>
                        <option value="3">临时一级</option>
                        <option value="4">临时二级</option>
                        <option value="5">临时三级</option>
                    </select>
                </td>
                <td style="text-align:right">证书编号：</td>
                <td>
                    <input name="Number2" class="easyui-textbox" >
                </td>
                <td style="text-align:right;">证书有效日期：</td>
                <td>
                    <input name="ExpiryDate2" class="easyui-datebox" editable="false"  style="width:96px">
                </td>

            </tr>
            <tr id="flag1">
                <td style="text-align:right">办公场所地址：</td>
                <td colspan="3">
                    <input name="Address" class="easyui-textbox" style="width:100%" required="true">
                </td>
                <td style="text-align:right">建筑面积：</td>
                <td>
                    <input name="Area" class="easyui-numberbox easyui-validatebox" precision="2" max="9999999.99" size="8" maxlength="8" required="true">m2
                </td>
            </tr>

            <tr id="flag">
                <td style="text-align:right">注册资金：</td>
                <td><input name="Fund" class="easyui-numberbox" precision="2" max="99999.99" size="8" maxlength="8" required="true">万元</td>
            </tr>
            <tr>
                <td style="text-align:right">法定代表人：</td>
                <td><input name="Delegate" class="easyui-textbox"></td>
                <td style="text-align:right">办公电话：</td>
                <td><input name="DelegateOfficePhone" class="easyui-textbox"></td>
                <td style="text-align:right">手机号码：</td>
                <td><input name="DelegateMobilePhone" class="easyui-textbox easyui-validatebox" validType="mobilephone"></td>
            </tr>
            <tr>
                <td style="text-align:right">联系人：</td>
                <td><input name="Contact" class="easyui-textbox"></td>
                <td style="text-align:right">办公电话：</td>
                <td><input name="ContactOfficePhone" class="easyui-textbox"></td>
                <td style="text-align:right">手机号码：</td>
                <td><input name="ContactMobilePhone" class="easyui-textbox easyui-validatebox" validType="mobilephone"></td>
            </tr>
            <tr>
                <td style="text-align:right">传真：</td>
                <td><input name="fax" class="easyui-textbox"></td>
                <td style="text-align:right">邮政编码：</td>
                <td><input name="Postcode" class="easyui-textbox"></td>
                <td style="text-align:right">电子邮件：</td>
                <td><input name="Email" class="easyui-textbox easyui-validatebox" validType="email"></td>
            </tr>
        </table>

        
    </form>
    <p style="text-align:center;">
        <a class="easyui-linkbutton" onclick="setcompany()">保存修改</a>
    </p>


   
</body>
</html>
