@model GSXF.Web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <link href="~/Content/User/login.css" rel="stylesheet" />
    <style>
        .row{
            margin-bottom:20px;
        }
    </style>
    <script>
        $(function () {
            $('#login').form({
                success: function (data) {
                    var response = JSON.parse(data);
                    if (response.Code != 3) {
                        $.messager.alert('提示', response.Message, 'info');
                    } else {
                        window.location.href = "/User";
                    }
                }
            });
        });
    </script>
</head>
<body>
    <section class="container">
        <div class="login">
            <h1>用户登录</h1>
            <form method="post" action="/User/Login" id="login">
                <p><input type="text" name="Name"  placeholder="账号"></p>
                <p><input type="password" name="Password" placeholder="密码"></p>
                <p style="text-align:center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:60px;">登录</a>
                </p>
            </form>
        </div>
    </section>
    
    <script>
        function submitForm() {
            $('#login').form('submit');
        }
        function clearForm() {
            $('#login').form('clear');
        }
    </script>
</body>
</html>
