@model GSXF.Web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Easy UI/easyui.css" rel="stylesheet" />
    <link href="~/Content/Easy UI/icon.css" rel="stylesheet" />
    <script src="~/Content/Easy UI/jquery.min.js"></script>
    <script src="~/Content/Easy UI/jquery.easyui.min.js"></script>
    <script src="~/Content/Easy UI/easyui-lang-zh_CN.js"></script>
    <style>
        .row{
            margin-bottom:20px;
        }
    </style>
    <script>
        $(function () {
            $('#login').form({
                success: function (data) {
                    var response = JSON.parse(data);
                    if (response.Code != 3) {
                        $.messager.alert('提示', response.Message, 'info');
                    } else {
                        window.location.href = "/User";
                    }
                }
            }); 
        });
    </script>
</head>
<body>
    <form id="login" action="/User/Login" method="post">
        <div class="row">
            <input id="Name" name="Name" class="easyui-textbox" label="账号：" />
        </div>
        <div class="row">
            <input id="Password" name="Password" class="easyui-textbox" label="密码：" type="password" />
        </div>
    </form>
    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">登录</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">清除</a>
    </div>
    <script>
        function submitForm() {
            $('#login').form('submit');
        }
        function clearForm() {
            $('#login').form('clear');
        }
    </script>
</body>
</html>
