
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyInfo</title>
</head>
<body>
    <div> 
        账号：@ViewBag.Name
        账号类型：@ViewBag.Role
        注册时间：@ViewBag.Regtime
    </div>
</body>
</html>
