
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RYBA</title>
</head>
<body>
    <div> 
        正在建设中...
    </div>
</body>
</html>
