
@{
    Layout = null;
}
@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WZGL</title>

    <script >
        $(function () {
            $('#dg').datagrid({
                title: '文章列表',
                height: 'auto',
                rownumbers: true,
                collapsible: true,
                singleSelect: true,
                pagination: true,
                pageList: [10, 20, 30, 50, 100, 200],
                url: '/Data/getArticles',
                method: 'get',
                loadFilter:loadFilter
            });

            $('#win').window({
                title: '添加文章',
                modal: true,
                shadow: true,
                closed: true,
                footer:'#footer'
            });

        });

        function append() {
            $('#win').window('open');
        }

        function removeit() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('提示', '请先选中行', 'info');
                return;
            }

            $.ajax({
                async: false,
                url: '/Data/deleteArticle',
                data: {"id":row.ID},
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    $.messager.alert('提示', '文章删除成功', 'info');
                }
            });

            $('#dg').datagrid('reload');
        }





        function submit() {
            if (!$('#form').form('validate')) {
                $.messager.alert('提示', '表单无效，请检查', 'info');
                return;
            }

            var formData = new FormData();
            formData.append("File", document.getElementById("file").files[0]);
            formData.append("Title", $('#title').val());
            formData.append("Category", $('#category').val());
            $.ajax({
                url: '/Data/addArticle',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $.messager.alert('提示', '提交成功！', 'info', function () {
                        $('#win').window('close');
                        $('#dg').datagrid('reload');
                    });
                }
            });
        }
    </script>

</head>
<body>
    <div id="win"> 
        <form id="form" enctype="multipart/form-data">
            <table>
                <tr>
                    <td style="text-align:right">
                        文章标题：
                    </td>
                    <td>
                        <input class="easyui-textbox" name="Title" id="title" required="true" />
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right">栏目：</td>
                    <td>
                        <select class="easyui-combobox" name="Category" id="category" style="width:90px">
                            <option value="0">通知公告</option>
                            <option value="1">技术标准</option>
                            <option value="2">相关法规</option>
                            <option value="3">办事指南</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right">附件：</td>
                    <td>
                        <input type="file" name="File" id="file" required="true" />
                    </td>
                </tr>
            </table>
        </form>


    </div>

    <div id="footer" style="padding:5px;text-align:center">
        <a class="easyui-linkbutton" onclick="submit()">发布文章</a>
    </div>

    <div id="tb" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>|
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>|
    </div>
    <table id="dg">
        <thead>
            <tr>
                <th field="Title" width="300px">标题</th>
                <th field="Category" width="100px">所属栏目</th>
                <th field="Path" width="300px">附件路径</th>
            </tr>
        </thead>
    </table>
</body>
</html>
