@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GCSCX</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

    <script>
        $(function () {
            $('#dg').datagrid({
                width: '100%',
                height: 'auto',
                rownumbers: true,
                singleSelect: true,
                pagination: true,
                pageList: [10, 20, 30, 50, 100, 200],
                url: '/Data/getEmployees',
                method: 'get',
                loadFilter: loadFilter,
                onDblClickRow: function (index, row) {
                    $('#win').window('open');
                    $('#form').form('load', '/Data/getEmployee/?employeeID=' + row.ID);
                }
            });

            $('#win').window({
                title: '人员详情',
                width: '60%',
                height: 'auto',
                modal: true,
                shadow: true,
                closed: true,
                footer: '#footer'
            });

            

        });
        function doSearch() {
            $('#dg').datagrid('load', {
                Level: $('#level').val(),
                CertificateNumber: $('#cn').val(),
                IdentificationNumber:$('#idn').val(),
                Name: $('#name').val()
            });
        }
        function doReset() {
            $('#level').combobox('setValue', '-1');
            $('#cn').textbox('setValue', '');
            $('#IdentificationNumber').textbox('setValue', '');
            $('#name').textbox('setValue', '');
            doSearch();
        }
        function update() {
            var gendertext = $('#gender').combobox('getText');
            if (gendertext == '男') {
                $('#gender').combobox('setValue', '0');
            } else if (gendertext == '女') {
                $('#gender').combobox('setValue', '1');
            } else {
                $('#gender').combobox('setValue', '2');
            }

            var leveltext = $('#l').combobox('getText');
            console.log(leveltext);
            if (leveltext == '临时注册消防工程师') {
                $('#l').combobox('setValue', '0');
            } else if (leveltext == '一级注册消防工程师') {
                $('#l').combobox('setValue', '1');
            } else {
                $('#l').combobox('setValue', '2');
            }

            var employee = $("#form").serialize();
            $.ajax({
                async: false,
                url: '/Data/setEmployee',
                data: employee,
                dataType: "json",
                type: "POST",
                success: function (data) {
                    resp = data;
                }
            });
            $('#win').window('close');
            doSearch();
        }

        function deleteemployee() {

            $.messager.confirm('提示', '删除后不可找回，确认删除此人员？', function (r) {
                if (r) {
                    $.ajax({
                        async: false,
                        url: '/Data/deleteEmployee',
                        data: "employeeID=" + $('#eid').val(),
                        dataType: "text",
                        type: "POST",
                        success: function (data) {
                            resp = data;
                        }
                    });
                    $('#win').window('close');
                    doSearch();
                }
            }); 
        }

    </script>
    <link href="~/Content/User/ipage.css" rel="stylesheet" />
</head>
<body>
    <p style="margin-left:10px;">
        证书类别:
        <select name="Level" id="level" class="easyui-combobox" style="width:102px;"
                data-options="panelHeight:'auto'" editable="false">
            <option value="-1">全部</option>
            <option value="0">临时注册消防工程师</option>
            <option value="1">一级注册消防工程师</option>
            <option value="2">二级注册消防工程师</option>
        </select>
        证书编号:
        <input name="CertificateNumber" id="cn" class="easyui-textbox" style="width:180px" />
        身份证号：
        <input name="IdentificationNumber" id="idn" class="easyui-textbox" style="width:180px" />
        姓名：
        <input name="Name" id="name" class="easyui-textbox" style="width:100px" />
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="doReset()">重置查询</a>
    </p>
    <div>
        <table id="dg">
            <thead>
                <tr>
                    <th field="Name" width="120">姓名</th>
                    <th field="Gender" width="60">性别</th>
                    <th field="Level" width="160">证书类别</th>
                    <th field="CertificateNumber" width="240">证书编号</th>
                    <th field ="IdentificationNumber" width="160px">身份证号</th>
                    <th field="CompanyName" width="360">注册公司</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="win">
        <form id="form">
            <input name="ID" id="eid" style="display:none" />
            <table>
                <tr>
                    <td style="text-align:right">
                        姓名：
                    </td>
                    <td>
                        <input class="easyui-textbox" name="Name" />
                    </td>
                    <td style="text-align:right">
                        性别：
                    </td>
                    <td>
                        <select name="Gender" id="gender" class="easyui-combobox"
                                data-options="panelHeight:'auto'" editable="false">
                            <option value="0">男</option>
                            <option value="1">女</option>
                            <option value="2">未知</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        证书类别：
                    </td>
                    <td>
                        <select name="Level" id="l" class="easyui-combobox"
                                data-options="panelHeight:'102px'" editable="false">
                            <option value="0">临时注册消防工程师</option>
                            <option value="1">一级注册消防工程师</option>
                            <option value="2">二级注册消防工程师</option>
                        </select>
                    </td>
                    <td style="text-align:right">证书编号：</td>
                    <td>
                        <input name="CertificateNumber" class="easyui-textbox easyui-validatebox"
                               data-options="required:true,width:180" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        身份证号：
                    </td>
                    <td>
                        <input name="IdentificationNumber" class="easyui-textbox easyui-validatebox"
                               data-options="required:true,width:180" />
                    </td>
                    <td style="text-align:right">
                        手机号码：
                    </td>
                    <td>
                        <input name="MobilePhone" class="easyui-numberbox" maxlength="11" width="180">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        注册公司：
                    </td>
                    <td colspan="3">
                        <select name="CompanyName" class="easyui-combobox"
                                data-options="panelHeight:'auto'" editable="false" style="width:100%">
                            <option value="0">无</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer" style="padding:5px;text-align:center;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" onclick="update()">保存修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="deleteemployee()" style="float:right">删除此人员</a>
    </div>
</body>
</html>
