<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>甘肃省社会消防服务管理系统</title>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <link href="~/Content/nav/mynav.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <style type="text/css">
        .list {
            width:360px;
        }

            .list li {
                border-bottom: 1px dotted #ccc;
            }

            .list a {
                text-decoration: none;
            }
        /*#bg {
            background-repeat: no-repeat;
            background-image: url('../../Content/img/fire.gif');
        }*/
    </style>

</head>
<body>
    <div class="container">
        @*<header class="main-header" style="background-image: url('../../Content/img/QQ截图20170429233900.png');background-size:cover; "></header>*@
        
            <div id="bg" style="width:100%">

                <img src="~/Content/img/fire.gif" style="width:100%;height:140px" />
            </div>

        <div style="height:10px"></div>
        @RenderBody()


        <footer>
            <div class="copyright">
                ©2017 甘肃省消防总队 版权所有
            </div>
        </footer>
    </div>

</body>
</html>
