<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jquery,ui,easy,easyui,web">
    <meta name="description" content="easyui help you build your web page easily!">
    <title>jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
		function showcontent(language){
			$('#content').html('Introduction to ' + language + ' language');
		}
		$(function(){
			showcontent('java');
		});
    </script>
</head>
<body>
    <div class="easyui-layout layout" style="width:400px;height:200px;">
        <div class="panel layout-panel layout-panel-west layout-split-west" style="width: 145px; left: 0px; top: 0px;">
            <div class="panel-header" style="width: 133px;"><div class="panel-title">Navigator</div><div class="panel-tool"><a class="panel-tool-collapse" href="javascript:void(0)" style="display: none;"></a><a href="javascript:void(0)" class="layout-button-left"></a></div></div><div region="west" split="true" title="" style="width: 143px; height: 171px;" class="panel-body layout-body">
                <p style="padding:5px;margin:0;">Select language:</p>
                <ul>
                    <li><a href="javascript:void(0)" onclick="showcontent('java')">Java</a></li>
                    <li><a href="javascript:void(0)" onclick="showcontent('cshape')">C#</a></li>
                    <li><a href="javascript:void(0)" onclick="showcontent('vb')">VB</a></li>
                    <li><a href="javascript:void(0)" onclick="showcontent('erlang')">Erlang</a></li>
                </ul>
            </div>
        </div>
        <div class="panel layout-panel layout-panel-center" style="width: 250px; left: 150px; top: 0px;">
            <div class="panel-header" style="width: 238px;">
                <div class="panel-title">Language</div>
                <div class="panel-tool"><a class="panel-tool-collapse" href="javascript:void(0)" style="display: none;"></a></div>
            </div>
            <div id="content" region="center" title="" style="padding: 5px; width: 238px; height: 161px;" class="panel-body layout-body">
                Introduction to java language
                @RenderBody()
            </div>
        </div>
        <div class="layout-split-proxy-h"></div><div class="layout-split-proxy-v"></div>
    </div>

</body>
</html>