
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DJXM</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <style>
        body{
            font-size:16px;
        }
        .step-wrap{
            text-align:center;
            margin-top:20px;
            margin-bottom:20px;

        }
        .step-wrap .item{
            display:inline-block;
            color:#5a5a5a;
            font-size:14px;
            position:relative;
            width:200px;
        }
        .step-num-wrap {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: #bcbcbc;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
            position: relative;
            z-index: 2;
        }
        .step-wrap .item+.item:before{
            display:inline-block;
            width:200px;
            height:2px;
            background:#bcbcbc;
            content:"";
            position:absolute;
            top:20px;
            left:-120px;
        }
        .done .step-num{
            background-color:limegreen;
        }
        
        input{
            width:inherit;
            
        }
        .step-div{
            margin:0 auto;
            text-align:center;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#btn-1").click(function () {
                $('#step-1-div').hide();
                $('#step-2-div').show();
            });
            $("#btn-2").click(function () {
                $('#step-2-div').hide();
                $('#step-3-div').show();
            });
            $("#btn-3").click(function () {
                $('#step-3-div').hide();
                $('#step-4-div').show();
            });
            $("#btn-4").click(function () {

            });

            $("#submitproject").click(function () {
                var _project = $("#projectform").serialize();
                $.ajax({
                    async: false,
                    url: '/Home/AddProject',
                    data: _project,
                    datatype: "json",
                    type: "POST",
                    success: function (data) {
                        alert(data);
                    }
                });
            });
        });
    </script>

</head>
<body>
    <div class="step-wrap">
        <div class="item">
            <div class="step-num-wrap">
                <div class="step-num">1</div>
            </div>
            <h3 class="step-title">项目登记</h3>
        </div>
        <div class="item">
            <div class="step-num-wrap">
                <div class="step-num">2</div>
            </div>
            <h3 class="step-title">入场检测</h3>
        </div>
        <div class="item">
            <div class="step-num-wrap">
                <div class="step-num">3</div>
            </div>
            <h3 class="step-title">出具报告</h3>
        </div>
        <div class="item">
            <div class="step-num-wrap">
                <div class="step-num">4</div>
            </div>
            <h3 class="step-title">提交备案</h3>
        </div>
    </div>
    <div style="height:80%;width:100%;">
        <div class="easyui-tabs" border="false" id="tabs">
            <div id="step-1-div" title="1.项目登记">
                <form action="/Admin/Login" method="post" id="projectform">
                    <fieldset>
                        <legend>项目信息</legend>
                        <table>
                            <tr>
                                <td>项目名称：</td>
                                <td>
                                    <input class="easyui-textbox" style="width:100%" name="Name" />
                                </td>
                                <td>项目类型</td>
                                <td>
                                    <select name="Type" class="easyui-combobox" editable="false">
                                        <option value="0">竣工检测</option>
                                        <option value="1">年度检测</option>
                                        <option value="2">维护保养</option>
                                        <option value="3">安全评估</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>项目地区：</td>
                            </tr>
                            <tr>
                                <td>详细地址：</td>
                                <td>
                                    <input class="easyui-textbox" style="width:100%" name="AddressDetail" />
                                </td>
                            </tr>
                            <tr>
                                <td>建筑类型：</td>
                                <td>
                                    <select name="BuildType" class="easyui-combobox" editable="false">
                                        <option value="0">公用建筑</option>
                                        <option value="1">民用建筑</option>
                                    </select>
                                </td>
                                <td>火灾危险性：</td>
                                <td>
                                    <select name="FireRisk" class="easyui-combobox" editable="false">
                                        <option value="0">甲</option>
                                        <option value="1">已</option>
                                        <option value="0">丙</option>
                                        <option value="0">丁</option>
                                        <option value="0">戊</option>
                                    </select>
                                </td>
                                <td>单体建筑面积：</td>
                                <td>
                                    <input class="easyui-textbox"  name="Area"/>
                                </td>
                                <td>建筑层总数：</td>
                                <td>
                                    <input class="easyui-textbox" name="AllLayer" />
                                </td>
                                <td>技术服务层数：</td>
                                <td>
                                    <input class="easyui-textbox" name="ServiceLayer" />
                                </td>
                            </tr>
                            <tr>
                                <td>合同编号：</td>
                                <td>
                                    <input class="easyui-textbox" name="ContractNumber"/>
                                </td>
                                <td>合同签订日期：</td>
                                <td>
                                    <input class="easyui-datebox" />
                                </td>
                                <td>合同起止日期：</td>
                                <td>
                                    <input class="easyui-datebox" /><input class="easyui-datebox" />
                                </td>
                            </tr>
                            <tr>
                                <td>项目负责人：</td>
                                <td>
                                    <input class="easyui-textbox"  name="PDirector"/>
                                </td>
                                <td>技术负责人：</td>
                                <td>
                                    <input class="easyui-textbox" name="TDirector" />
                                </td>
                                <td>联系人：</td>
                                <td>
                                    <input class="easyui-textbox" name="Contact"/>
                                </td>
                            </tr>
                            <tr>
                                <td>备注：</td>
                                <td>
                                    <input class="easyui-textbox" name="Note"/>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>委托单位信息</legend>
                        <table>
                            <tr>
                                <td>委托单位：</td>
                                <td>
                                    <input class="easyui-textbox" name="Object" />
                                </td>
                            </tr>
                            <tr>
                                <td>联系人：</td>
                                <td>
                                    <input class="easyui-textbox" name="OContact" />
                                </td>
                                <td>联系电话：</td>
                                <td>
                                    <input class="easyui-textbox" name="OContactPhone"/>
                                </td>
                                <td>电子邮箱：</td>
                                <td>
                                    <input class="easyui-textbox" name="OContactEmail"/>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <p>
                        <a href="#" class="easyui-linkbutton" id="submitproject">保存</a>
                    </p>
                </form>
                
            </div>
            <div id="step-2-div" class="step-div" title="2.入场检测">

                <table class="easyui-datagrid" pagination="true">
                    <thead>
                        <tr>
                            <th field="t1" width="300px">项目名称</th>
                            <th field="t4" width="80px">检测时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>宝鸡如家酒店有限公司广园路店</td>
                            <td contenteditable="true"></td>  
                        </tr>
                        <tr>
                            <td>英才网络教育咨询有限公司高新校区装修工程</td>
                            <td>2015-09-23</td>    
                        </tr>
                        <tr>
                            <td>盛和大酒店</td>
                            <td>2015-09-23</td>      
                        </tr>
                        <tr>
                            <td>宝鸡如家酒店有限公司广园路店</td>
                            <td>2015-09-23</td>
                        </tr>
                        <tr>
                            <td>汉滨区悦动生态健身俱乐部装修工程</td>
                            <td>2015-09-23</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" class="easyui-linkbutton">保存并继续</a>
            </div>
            <div id="step-3-div" class="step-div" title="3.出具报告">
                <div style="margin:0 auto;">
                    <table class="easyui-datagrid" pagination="true">
                        <thead>
                            <tr>
                                <th field="t1" width="300px">项目名称</th>
                                <th field="t4" width="80px">检测时间</th>
                                <th field="t5" width="200px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>宝鸡如家酒店有限公司广园路店</td>
                                <td contenteditable="true"></td>
                                <td>
                                    <a href="#">生成报告</a>
                                </td>
                            </tr>
                            <tr>
                                <td>英才网络教育咨询有限公司高新校区装修工程</td>
                                <td>2015-09-23</td>
                                <td>
                                    <a href="#">生成报告</a>
                                </td>
                            </tr>
                            <tr>
                                <td>盛和大酒店</td>
                                <td>2015-09-23</td>
                                <td>
                                    <a href="#">生成报告</a>
                                </td>
                            </tr>
                            <tr>
                                <td>宝鸡如家酒店有限公司广园路店</td>
                                <td>2015-09-23</td>
                                <td>
                                    <a href="#">生成报告</a>
                                </td>
                            </tr>
                            <tr>
                                <td>汉滨区悦动生态健身俱乐部装修工程</td>
                                <td>2015-09-23</td>
                                <td>
                                    <a href="#">生成报告</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="step-4-div" class="step-div" title="4.提交备案">
                <table class="easyui-datagrid" pagination="true">
                    <thead>
                        <tr>
                            <th field="t1" width="300px">项目名称</th>
                            <th field="t4" width="80px">检测时间</th>
                            <th field="t5" width="200px">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>宝鸡如家酒店有限公司广园路店</td>
                            <td contenteditable="true"></td>
                            <td>
                                <a href="#">提交备案</a>
                            </td>
                        </tr>
                        <tr>
                            <td>英才网络教育咨询有限公司高新校区装修工程</td>
                            <td>2015-09-23</td>
                            <td>
                                <a href="#">提交备案</a>
                            </td>
                        </tr>
                        <tr>
                            <td>盛和大酒店</td>
                            <td>2015-09-23</td>
                            <td>
                                <a href="#">提交备案</a>
                            </td>
                        </tr>
                        <tr>
                            <td>宝鸡如家酒店有限公司广园路店</td>
                            <td>2015-09-23</td>
                            <td>
                                <a href="#">提交备案</a>
                            </td>
                        </tr>
                        <tr>
                            <td>汉滨区悦动生态健身俱乐部装修工程</td>
                            <td>2015-09-23</td>
                            <td>
                                <a href="#">提交备案</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            
        </div>
</body>
</html>
