
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>服务机构</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

    <link href="~/Content/admin/admin.css" rel="stylesheet" />
    <script src="~/Content/admin/admin.js"></script>
    <style type="text/css">
        #jd {
            width: 140px;
            height: 12px;
            text-align: center;
            margin: 0 auto;
        }

        .circle {
            width: 10px;
            height: 10px;
            background-color: limegreen;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            float: left;
            margin-left: 16px;
            display: inline-block;
            position: relative;
            z-index: 2;
        }

            .circle:hover {
                width: 12px;
                height: 12px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
            }

        .hr-circle {
            width: 4px;
            height: 4px;
            background-color: gray;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            float: left;
            margin-left: 4px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        hr {
            margin: 0 auto;
        }

        .over {
            background-color: lime;
        }

        .unover {
            background-color: red;
        }

        td {
            text-align: center;
        }

        .jd_bg .circle + .circle:before {
            width: 16px;
            height: 2px;
            background: #bcbcbc;
            content: "";
            top: 4px;
            left: -16px;
            display: inline-block;
            position: absolute;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(".step-1").attr("title", "登记项目");
            $(".step-2").attr("title", "入场检测");
            $(".step-3").attr("title", "出具报告");
            $(".step-4").attr("title", "提交备案");
        });
    </script>
</head>

<body class="easyui-layout">
    <div region="north" border="true" split="true" style="overflow:hidden; height:100px;">
        <div class="top-bg">

            
        </div>
    </div>
    <div region="south" border="true" split="true" style="overflow:hidden;height:40px;">
        <div class="footer">版权所有:甘肃省消防总队</div>
    </div>
    <div region="west" split="true" title="菜单" style="width:200px;">
        <div id="aa" class="easyui-accordion" style="position:absolute;top:27px;left:0px;right:0px;bottom:0px;">
            <ul class="easyui-tree">
                <li>
                    <span><a target="mainFrame" href=@Url.Action("Index_FWJG")>主页</a></span>
                </li>
                <li>
                    <span><a target="mainFrame" href=@Url.Action("DJXM")>登记项目</a></span>
                </li>
                <li>
                    <span><a target="mainFrame" href=@Url.Action("CXXM")>查询项目</a></span>
                </li>

                <li>
                    <span><a target="mainFrame" href=@Url.Action("RYBA")>人员备案</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="mainPanel" region="center" style="overflow:hidden;">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="主页" style="padding: 0px; overflow: hidden;" id="home">

                <table class="easyui-datagrid" pagination="true" title="当前项目">
                    <thead>
                        <tr>
                            <th field="t1" width="300px">项目名称</th>
                            <th field="t3" width="80px">当前状态</th>
                            <th field="t4" width="160px">项目进度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>兰州市翠英大酒店</td>
                            <td>出具报告</td>
                            <td>
                                <div id="jd" class="jd_bg">
                                    <div class="circle step-1"></div>

                                    <div class="circle step-2"></div>

                                    <div class="circle step-3"></div>
                                    <div class="circle step-4 unover"></div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>兰州大学信息院飞云楼</td>
                            <td>入场检测</td>
                            <td>
                                <div id="jd" class="jd_bg">
                                    <div class="circle step-1"></div>
                                    <div class="circle step-2"></div>
                                    <div class="circle step-3 unover"></div>
                                    <div class="circle step-4 unover"></div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>天水盛和大酒店</td>
                            <td>登记项目</td>
                            <td>
                                <div id="jd" class="jd_bg">
                                    <div class="circle step-1"></div>
                                    <div class="circle step-2 unover"></div>
                                    <div class="circle step-3 unover"></div>
                                    <div class="circle step-4 unover"></div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>兰州市锦江阳光大酒店</td>
                            <td>入场检测</td>
                            <td>
                                <div id="jd" class="jd_bg">
                                    <div class="circle step-1"></div>
                                    <div class="circle step-2"></div>
                                    <div class="circle step-3 unover"></div>
                                    <div class="circle step-4 unover"></div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>兰州东方大酒店</td>
                            <td>出具报告</td>
                            <td>
                                <div id="jd" class="jd_bg">
                                    <div class="circle step-1"></div>
                                    <div class="circle step-2"></div>
                                    <div class="circle step-3"></div>
                                    <div class="circle step-4 unover"></div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>

</html>
