
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JGBA</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

    <script>
        $(document).ready(function () {
            $("#next-page").click(function () {
                $('#tabs').tabs('select', "人员信息");

            });
            $("#front-page").click(function () {
                $('#tabs').tabs('select', "机构信息");
            });
            var editIndex = undefined;
            
            //添加人员信息到表中
            $("#BtnAddEmployee").click(function () {
                $("#employeeTable").datagrid('appendRow', {
                    Name:$("#Name").val(),
                    Gender:$("#Gender").val(),
                    Level: $("#Level").val(),
                    CertificateNumber: $("#CertificateNumber").val(),
                    IdentificationNumber: $("#IdentificationNumber").val(),
                    IsDirector: $("#IsDirector").val(),
                    OfficePhone: $("#OfficePhone").val(),
                    MobilePhone:$("MobilePhone").val()
                });
            });
            //提交机构备案信息
            $("#Submit").click(function () {

            });
        });
    </script>

</head>
<body style="padding:0px;margin:0px;">
    <div class="easyui-tabs" border="false" id="tabs">
        <div title="机构信息" style="padding:10px">
            
            <form id="jgxxForm" method="post">
                <table id="jgxx">
                    <tr>
                        <td>机构名称：</td>
                        <td colspan="3">
                            <input class="easyui-textbox" style="width:100%;">
                        </td>
                    </tr>
                    <tr>
                        <td>资质类别：</td>
                        <td>
                            <select class="easyui-combobox" name="state" editable="false">
                                <option value="1">维修保养检测</option>
                                <option value="2">消防安全评估</option>
                            </select>
                        </td>
                        <td>资质等级：</td>
                        <td>
                            <select class="easyui-combobox" name="state"
                                    data-options="panelHeight:'102px'" editable="false">
                                <option value="1">一级</option>
                                <option value="2">二级</option>
                                <option value="3">三级</option>
                                <option value="4">临时一级</option>
                                <option value="5">临时二级</option>
                                <option value="6">临时三级</option>
                            </select>
                        </td>
                    </tr>
                    <tr>

                        <td>证书编号：</td>
                        <td colspan="2">
                            <input class="easyui-textbox" style="width:100%;">
                        </td>
                        <td style="text-align:right;">证书有效日期：</td>
                        <td>
                            <input class="easyui-datebox" editable="false">
                        </td>
                    </tr>
                    <tr>
                        <td>办公场所地址：</td>
                        <td colspan="3"><input class="easyui-textbox" style="width:100%">&nbsp;</td>
                        <td>办公场所建筑面积：</td>
                        <td><input class="easyui-textbox" style="height:23px">m2&nbsp;</td>
                        <td><a id="addAddressBtn">新增</a></td>
                    </tr>

                    <tr>
                        <td>办公场所建筑总面积：</td>
                        <td><input class="easyui-textbox">m2</td>
                        <td>注册资金：</td>
                        <td><input class="easyui-textbox">万元</td>
                    </tr>
                    <tr>
                        <td>法定代表人：</td>
                        <td><input class="easyui-textbox"></td>
                        <td>办公电话：</td>
                        <td><input class="easyui-textbox"></td>
                        <td style="text-align:right">手机号码：</td>
                        <td><input class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td><input class="easyui-textbox"></td>
                        <td>办公电话：</td>
                        <td><input class="easyui-textbox"></td>
                        <td style="text-align:right">手机号码：</td>
                        <td><input class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td>传真：</td>
                        <td><input class="easyui-textbox"></td>
                        <td>邮政编码：</td>
                        <td><input class="easyui-textbox"></td>
                        <td style="text-align:right">电子邮件：</td>
                        <td><input class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td>人员信息汇总：</td>
                        <td colspan="5"><input class="easyui-textbox" data-options="multiline:true" value="专业技术人员0人，操作人员0人" style="height:38px;width:100%" disabled="disabled"></td>
                    </tr>
                    <tr>
                        <td>执业开通状态：</td>
                        <td>待开通（未申请）</td>
                    </tr>
                </table>
            </form>
            
            <br />
            <div style="width:100px;margin:0 auto; height:50px;">
                <a href="#" class="easyui-linkbutton" style="float:right;" id="next-page">下一页</a>
            </div>
            <div style="color:red">
                提示：<br />
                1.机构备案申请提交以后可以修改人员信息，其他信息请到消防总队申请修改。<br />
                2.请尽快开通机构备案申请，申请通过后才能对项目进行登记。
            </div>

        </div>
        <div title="人员信息" style="padding:0px;">
            <div id="tb" style="height:auto">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">Append</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">Remove</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">Accept</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">Reject</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a>
            </div>
            <table id="dg" class="easyui-datagrid" style="width:100%;height:80%"
                            data-options="
                                rownumbers:true,
				                singleSelect: true,
                                onClickRow:onClickRow
			">
                <thead>
                    <tr>
                        <th data-options="field:'Name',width:80">姓名</th>
                        <th data-options="field:'Gender',
                                        width:60,
                                        formatter:function(value,row){return row.Text},
                                        editor:{type:'combobox',
                                                options:{
                                                        valueField:'Id',
                                                        textField:'Text',
                                                        method:'get',
                                                        url:'/Data/GenderList',
                                                        required:true,
                                                        panelHeight:'auto'
                                                }
                            }">性别</th>
                        <th data-options="field:'Level',
                                        width:120,
                                        formatter:function(value,row){return row.Text},
                                        editor:{type:'combobox',
                                                options:{
                                                       valueField:'Id',
                                                        textField:'Text',
                                                        method:'get',
                                                        url:'/Data/EmployeeLevelList',
                                                        required:true,
                                                        panelHeight:'auto'
                                                }
                            }">人员类别</th>
                        <th field="CertificateNumber" width="100">证书编号</th>
                        <th field="IdentificationNumber" width="120">身份证号</th>
                        <th field="IsDirector" width="100">是否是技术负责人</th>
                        
                        <th field="OfficePhone" width="120">办公电话</th>
                        <th field="OfficePhone" width="120">手机号码</th>
                    </tr>
                </thead>

            </table>
            <script type="text/javascript">
                var editIndex = undefined;
                function endEditing() {
                    if (editIndex == undefined) { return true }
                    if ($('#dg').datagrid('validateRow', editIndex)) {
                        var ed = $('#dg').datagrid('getEditor', { index: editIndex, field: 'Gender' });
                        var productname = $(ed.target).combobox('getText');
                        $('#dg').datagrid('getRows')[editIndex]['GenderName'] = productname;
                        $('#dg').datagrid('endEdit', editIndex);
                        editIndex = undefined;
                        return true;
                    } else {
                        return false;
                    }
                }
                function onClickRow(index) {
                    if (editIndex != index) {
                        if (endEditing()) {
                            $('#dg').datagrid('selectRow', index)
                                    .datagrid('beginEdit', index);
                            editIndex = index;
                        } else {
                            $('#dg').datagrid('selectRow', editIndex);
                        }
                    }
                }
                function append() {
                    if (endEditing()) {
                        $('#dg').datagrid('appendRow', { status: 'P' });
                        editIndex = $('#dg').datagrid('getRows').length - 1;
                        $('#dg').datagrid('selectRow', editIndex)
                                .datagrid('beginEdit', editIndex);
                    }
                }
                function removeit() {
                    if (editIndex == undefined) { return }
                    $('#dg').datagrid('cancelEdit', editIndex)
                            .datagrid('deleteRow', editIndex);
                    editIndex = undefined;
                }
                function accept() {
                    if (endEditing()) {
                        $('#dg').datagrid('acceptChanges');
                    }
                }
                function reject() {
                    $('#dg').datagrid('rejectChanges');
                    editIndex = undefined;
                }
                function getChanges() {
                    var rows = $('#dg').datagrid('getChanges');
                    alert(rows.length + ' rows are changed!');
                }
            </script>

            <div style="margin:0 auto;width:200px;">
                <a href="#" class="easyui-linkbutton" id="front-page">上一页</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-save" id="Submit">提交</a>
            </div>
            @*<div id="dlg" class="easyui-dialog" title="人员信息" data-options="iconCls:'icon-save'" style="width:600px;height:400px;padding:10px;" closed="true">
                <table>
                    <tr>
                        <td style="text-align:right;">姓名：</td>
                        <td><input id="Name" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">性别：</td>
                        <td>
                            <select id="Gender" class="easyui-combobox" name="state" style="width:60px;"
                                    data-options="panelHeight:'auto'">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">人员类别：</td>
                        <td>
                            <select id="Level" class="easyui-combobox" name="state" style="width:240px;"
                                    data-options="panelHeight:'auto'">
                                <option value="0">一级注册消防工程师</option>
                                <option value="1">二级注册消防工程师</option>
                                <option value="2">建（构）筑物消防员（初级）</option>
                                <option value="3">建（构）筑物消防员（中级）</option>
                                <option value="4">建（构）筑物消防员（高级）</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">证书编号：</td>
                        <td><input id="CertificateNumber" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">是否是技术负责人：</td>
                        <td><input id="IsDirector" type="checkbox" name="ck" value=""></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">身份证号：</td>
                        <td><input id="IdentificationNumber" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">缴金情况：</td>
                        <td>
                            <input name="test" type="radio" value="true" checked />是
                            <input name="test" type="radio" value="false" />否
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">办公电话：</td>
                        <td><input id="OfficePhone" class="easyui-textbox"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">手机号码：</td>
                        <td><input id="MobilePhone" class="easyui-textbox"></td>
                    </tr>
                </table>
                <div style="text-align:right">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="BtnAddEmployee">添加</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-close'" onclick="$('#dlg').dialog('close')">关闭</a>
                </div>
            </div>*@

        </div>
    </div>
</body>
</html>
