
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RYBA</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
</head>
<body style="margin-left:0px;margin-right:0px;">
        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">人员备案</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="$('#dlg').dialog('open')">添加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
        </div>
        <table class="easyui-datagrid" style="width:100%;height:100%" data-options="dataType:'json',
               url:'/Data/MyEmployees'
               ">
            <thead>
                <tr>
                    <th field="Name" width="80">姓名</th>
                    <th field="Gender" width="60">性别</th>
                    <th field="Level" width="120">人员类别</th>
                    <th field="CertificateNumber" width="100">证书编号</th>
                    <th field="IsDirector" width="100">是否是技术负责人</th>
                    <th field="IdentificationNumber" width="120">身份证号</th>
                    <th field="OfficePhone" width="120">办公电话</th>
                    <th field="MobilePhone" width="120">手机号码</th>
                </tr>
            </thead>

        </table>
        <div id="dlg" class="easyui-dialog" title="人员信息" data-options="iconCls:'icon-save'" style="width:600px;height:400px;padding:10px;" closed="true">
            <table>
                <tr>
                    <td style="text-align:right;">姓名：</td>
                    <td><input class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">性别：</td>
                    <td>
                        <select class="easyui-combobox" name="state" style="width:60px;"
                                data-options="panelHeight:'auto'">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">人员类别：</td>
                    <td>
                        <select class="easyui-combobox" name="state" style="width:240px;"
                                data-options="panelHeight:'auto'">
                            <option value="0">专业技术人员（一级注册消防工程师）</option>
                            <option value="1">专业技术人员（一级注册消防工程师）</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">证书编号：</td>
                    <td><input class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">是否是技术负责人：</td>
                    <td><input type="checkbox" name="ck" value=""></td>
                </tr>
                <tr>
                    <td style="text-align:right;">身份证号：</td>
                    <td><input class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">缴金情况：</td>
                    <td>
                        <input name="test" type="radio" value="" checked />是
                        <input name="test" type="radio" value="" />否
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">办公电话：</td>
                    <td><input class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">手机号码：</td>
                    <td><input class="easyui-textbox"></td>
                </tr>
            </table>
            <div style="text-align:right">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-close'">关闭</a>
            </div>
        </div>
</body>
</html>
