
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XMCX</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <style>
        td {
            text-align: center;
        }
    </style>
</head>
<body style=" margin:0px;font-size:10px;">
    <fieldset style="border-width:1px">
        <legend>查询信息</legend>
        资质类型:
        <select class="easyui-combobox" name="state" style="width:102px;"
                data-options="panelHeight:'auto'" editable="false">
            <option value="0">全部</option>
            <option value="2">维修保养检测</option>
            <option value="3">消防安全评估</option>
        </select>
        资质等级:
        <select class="easyui-combobox" name="state" style="width:102px;"
                data-options="panelHeight:'102px'" editable="false">
            <option value="0">全部</option>
            <option value="1">一级</option>
            <option value="2">二级</option>
            <option value="3">三级</option>
            <option value="4">临时一级</option>
            <option value="5">临时二级</option>
            <option value="6">临时三级</option>
        </select>
        所属地区:
        <select class="easyui-combobox" name="state" style="width:80px;"
                data-options="panelHeight:'102px'" editable="false">
            <option value="0">全部</option>
            <option value="0">兰州</option>
            <option value="1">天水</option>
            <option value="2">金昌</option>
            <option value="3">白银</option>
            <option value="4">武威</option>
            <option value="5">平凉</option>
            <option value="6">酒泉</option>
            <option value="7">庆阳</option>
            <option value="8">定西</option>
            <option value="9">陇南</option>
            <option value="10">临夏</option>
            <option value="11">嘉峪关</option>
            <option value="12">甘南</option>
            <option value="13">张掖</option>
            <option value="14">兰州新区</option>
        </select>
        机构名称:
        <input class="easyui-textbox" style="width:120px" />
        <a href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a>
    </fieldset>
    <table class="easyui-datagrid" pagination="true">
        <thead>
            <tr>
                <th field="t1" width="300px">机构名称</th>
                <th field="t2" width="160px">资质类别</th>
                <th field="t7" width="80px">资质等级</th>
                <th field="t3" width="80px">所属地区</th>
                <th field="t4" width="200px">服务范围</th>
                <th field="t5" width="160px">证书编号</th>
                <th field="t6" width="60px">证书状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>西安鑫安消防技术咨询有限公司</td>
                <td>安全评估</td>
                <td>临时一级</td>
                <td>陕西</td>

                <td>可从事陕西省内社会单位消防安全评估以及消防法律法规、消防技术标准、一般火灾隐患整改等方面的咨询活动。</td>
                <td>陕公消技字〔2015〕第002号（临）</td>
                <td>有效</td>
            </tr>
            <tr>
                <td>湖北卓朗企业管理咨询有限公司	</td>
                <td>安全评估</td>
                <td>临时二级</td>
                <td>湖北</td>

                <td>可从事陕西省内社会单位消防安全评估以及消防法律法规、消防技术标准、一般火灾隐患整改等方面的咨询活动。</td>
                <td>陕公消技字〔2011〕第087号（临）</td>
                <td>有效</td>
            </tr>
            <tr>
                <td>北京都成消防检测服务有限公司</td>
                <td>安全评估</td>
                <td>临时三级</td>
                <td>北京</td>

                <td>可从事陕西省内社会单位消防安全评估以及消防法律法规、消防技术标准、一般火灾隐患整改等方面的咨询活动。</td>
                <td>陕公消技字〔2016〕第020号（临）</td>
                <td>有效</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
