
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TBZS</title>
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")
    <script src="~/Content/Highcharts/highcharts.js"></script>
</head>
<body>

    <img src="~/Content/img/tbzs.png" />
</body>
</html>
