
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XMJG</title>

    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/Content/easyuijs")

</head>
<body style="margin:0;">
    <style type="text/css">
        #jd{
            width:140px;
            height:12px;
            text-align:center;
            margin:0 auto;
        }
        .circle {
            width: 10px;
            height: 10px;
            background-color: limegreen;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            float:left;
            margin-left:16px;
            display:inline-block;
            position:relative;
            z-index:2;
        }
        .circle:hover{
            width:12px;
            height:12px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
        }
        
        .hr-circle{
            width: 4px;
            height: 4px;
            background-color:gray;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            float:left;
            margin-left:4px;
            margin-top:3px;
            margin-bottom:3px;
        }
        hr{
            margin:0 auto;
        }
        .over{
            background-color:lime;
        }
        .unover{
            background-color:red;
        }

        td{
            text-align:center;
        }

        .jd_bg .circle+.circle:before{
            width:16px;
            height:2px;
            background:#bcbcbc;
            content:"";
            top:4px;
            left:-16px;
            display:inline-block;
            position:absolute;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(".step-1").attr("title", "登记项目");
            $(".step-2").attr("title", "入场检测");
            $(".step-3").attr("title", "出具报告");
            $(".step-4").attr("title", "提交备案");

            $.ajax({
                
            });

        });
    </script>

    <table class="easyui-datagrid"pagination="true" data-options="url:'/Data/Projects'">
        <thead>
            <tr>
                <th field="Name" width="300px">项目名称</th>
                <th field="Object" width="260px">服务机构</th>
                <th field="Progress" width="80px">当前状态</th>
                <th field="t4" width="160px">项目进度</th>
            </tr>
        </thead>
        
    </table>
    
</body>
</html>
