

.top-bg {
    background-color: #d8e4fe;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/bg_1900_100_logo_meitu_1_40.png');
}

.easyui-accordion li a{
    text-decoration:none;
    color:black;
}



.footer{
    width:100%;
    text-align:center;
    line-height:35px;
}

#north, #south, #west {
    overflow: hidden;
}

#north {
    height: 100px;
}

#south {
    height: 40px;
}

#west {
    width: 200px;
}
.top-bg a{
    color:white;
    font-size:14px;
}