<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <add key="SiteName" value="甘肃省社会消防服务管理系统" />
  <add key="SiteUrl" value="http://localhost:23299" />
  <add key="EmailName" value="18393818104@163.com"/>
  <add key="EmailPassword" value="kfq.wcz1997"/>
  <add key="Copyright" value="甘肃省消防总队版权所有&lt;a&gt;11&lt;/a&gt;" />
</SiteConfig>